    <footer class="page-footer no-padding" style=" background-color: rgb(53, 88, 118); margin-top:35pt;">          
    <div class="row no-padding">
    </div>
    </div>
    <div class="footer-copyright" >
            <div class="container" style="align-items:center">
             <i class="tiny material-icons" style="color:black">copyright</i> Designed and Developed with <i class="tiny material-icons" style="color:red">favorite</i> by Dawakhana Squad 
            <a class="grey-text text-lighten-4 right" href="/"><i class="material-icons">home</i> </a>
            </div>
    </div>
</footer>
